[submodule "Project_Libra/1st_Project_MachineLearning"]
	path = Project_Libra/1st_Project_MachineLearning
	url = https://github.com/Orbit-Libra/1st_Project_MachineLearning.git

[submodule "Project_Libra/2nd_Project_LLM_Service"]
	path = Project_Libra/2nd_Project_LLM_Service
	url = https://github.com/Orbit-Libra/2nd_Project_LLM_Service.git
